@charset "utf-8";
/* 
	 Basic theme for tcframe3.0
		 @Brain li QQ:279641976
		 2013.08.27
*/
body{
	overflow:hidden;
	/*background-color:#262626;*/
}
hr{
	height:0; 
	border:none; 
	border-bottom:1px solid rgba(255,255,255,0.13);
	border-top:1px solid rgba(0,0,0,1);
	margin:5px 0px 5px 0px;
	clear:both;
}


.tc-frame{
	position:relative;
	padding:0px;/*这里如果设大于0的值，滚动条会出现偏差，这是perfect-scroll的bug*/
	cursor:default;
	overflow:hidden;
	word-break:break-all;
	/*非必要属性
	font-family:微软雅黑;
	font-size:12px;
	text-align:justify;
	text-justify:inter-ideograph;
	*/
}
.tc-uicomponent{
	overflow:hidden;
	display:none;
}
.tc-canvas{
	cursor:default;
	overflow:hidden;
	display:none;
	word-break:break-all;	
}
.tc-accordion{
	display:none;
	background-color:#2A333A;
	border:1px solid #141B23;
}
.tc-accordion-canvas{
	display:none;
	color:#E7E7CB;
}
.tc-tabnavigator{
	display:none;
	background-color:#2A333A;	
	border:1px solid #141B23;
}
.tc-tabnavigator-canvas{	
	background-color:#38424C;
	color:#E7E7CB;
	border-top:1px solid #46525E;
	border-left:1px solid #192026;
	border-right:1px solid #192026;	
	border-bottom:1px solid #12171B;
	display:none;
}
.tc-panel{
	display:none;
	background-color:#2A333A;	
	border:1px solid #141B23;	
}
.tc-panel-titleBar{
	background-color:#323B44;
	border-top:1px solid #46525E;
	border-left:1px solid #192026;
	border-right:1px solid #192026;	
	border-bottom:1px solid #12171B;	
}
.tc-panel-title{
	cursor:default;
	font-family:微软雅黑;
	font-size:12px;
	font-weight:bold;
	color:#E7E7E7;	
	-moz-user-select: none; 
    -webkit-user-select: none;
    -ms-user-select: none;
    -khtml-user-select: none;
}
.tc-panel-container{
	background-color:#38424C;
	color:#E7E7CB;
	border-top:1px solid #192026;
	border-left:1px solid #192026;
	border-right:1px solid #192026;	
	border-bottom:1px solid #12171B;
	display:none;
}
.tc-button{
	cursor:default;
	text-align:center;
	font-family:微软雅黑;
	font-size:12px;
	font-weight:bold;
	color:#E7E7E7;
	/*渐变效果，扁平化不需要
	background:-webkit-gradient(linear, 0 0, 0 100%, from(#323B44), to(#22292F));
	background:-moz-linear-gradient(top,#323B44,#22292F);
	background: -ms-linear-gradient(top,#323B44 0%,#22292F 100%);
	*/
	background-color:#323B44;
	border-top:1px solid #46525E;
	border-left:1px solid #192026;
	border-right:1px solid #192026;	
	border-bottom:1px solid #12171B;
	-moz-user-select: none; 
    -webkit-user-select: none;
    -ms-user-select: none;
    -khtml-user-select: none;
}
.tc-button:hover{
	color:#FFF;
	background-color:#3D4753;
	border-top:1px solid #1D262D;
	border-left:1px solid #13161B;
	border-right:1px solid #13161B;	
	border-bottom:1px solid #13161B;
}
.tc-button:active{
	color:#A9AAAC;
	background-color:#1E252B;
	border-top:1px solid #1C252C;
	border-left:1px solid #1C252C;
	border-right:1px solid #1C252C;	
	border-bottom:1px solid #1C252C;
}
.tc-button-selected{
	cursor:default;
	text-align:center;
	font-family:微软雅黑;
	font-size:12px;
	font-weight:bold;
	color:#FFF;
	background-color:#D97915;
	border-top:1px solid #D7A96D;
	border-left:1px solid #1F2024;
	border-right:1px solid #846546;	
	border-bottom:1px solid #121413;
	-moz-user-select: none; 
    -webkit-user-select: none;
    -ms-user-select: none;
    -khtml-user-select: none;
}
.tc-button-selected:hover{
	color:#FFF;
	background-color:#E0993D;
	border-top:1px solid #D4A86B;
	border-left:1px solid #322E2F;
	border-right:1px solid #51473D;	
	border-bottom:1px solid #121415;
}
.tc-button-selected:active{
	color:#FFF;
	background-color:#D97915;
	border-top:1px solid #ECD5B5;
	border-left:1px solid #856D53;
	border-right:1px solid #202123;	
	border-bottom:1px solid #121415;
}
.tc-button-disable{
	cursor:default;
	text-align:center;
	font-family:微软雅黑;
	font-size:12px;
	font-weight:bold;
	color:#7A7B76;
	background-color:#545B63;
	border-top:1px solid #5D646A;
	border-left:1px solid #45484D;
	border-right:1px solid #45484D;	
	border-bottom:1px solid #1A1B1F;
	-moz-user-select: none; 
    -webkit-user-select: none;
    -ms-user-select: none;
    -khtml-user-select: none;
}
.tc-menuitem-container{
	cursor:default;
	background-color:#37414A;
	border-top:1px solid #37414A;	
	border-bottom:1px solid #37414A;
	border-left:1px solid #37414A;
	border-right:1px solid #37414A;
	-moz-user-select: none; 
    -webkit-user-select: none;
    -ms-user-select: none;
    -khtml-user-select: none;	
}
.tc-menuitem-container:hover{
	cursor:default;
	border-top:1px solid #5C6D7D;	
	border-bottom:1px solid #1B2429;
	border-left:1px solid #262F36;
	border-right:1px solid #232C33;
	-moz-user-select: none; 
    -webkit-user-select: none;
    -ms-user-select: none;
    -khtml-user-select: none;	
}
.tc-menuitem-label{
	color:#E7E7E7;
	font-size:12px;
	font-weight:bold;
	font-family:微软雅黑;
}
.tc-menuitem-label-disable{
	color:#515765;
	font-size:12px;
	font-weight:bold;
	font-family:微软雅黑;	
}
.tc-menulist{
	background-color:#2A333A;
	border-top:1px solid #495762;
	border-bottom:1px solid #172027;
	border-left:1px solid #252C34;
	border-right:1px solid #2D363D;
}
.tc-menu{
	background-color:#2A333A;
	overflow:visible;
}






/* horizontal srcollbar*/
.ps-container .ps-scrollbar-x {
    position: absolute;
    z-index:999;
	bottom: 3px;
    height: 8px;
    background-color: #323B44;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    opacity: 0;
    filter: alpha(opacity = 0);
    -o-transition: opacity .2s linear;
    -webkit-transition: opacity.2s linear;
    -moz-transition: opacity .2s linear;
    transition: opacity .2s linear;
}
.ps-container:hover .ps-scrollbar-x,
.ps-container.hover .ps-scrollbar-x {
    opacity: 0.6;
    filter: alpha(opacity = 60);
}
.ps-container .ps-scrollbar-x:hover,
.ps-container .ps-scrollbar-x.hover {
    opacity: 0.9;
    filter: alpha(opacity = 90);
    cursor:default;
}
.ps-container .ps-scrollbar-x.in-scrolling {
    opacity: 0.9;
    filter: alpha(opacity = 90);
}
/*  vertical scrollbar*/
.ps-container .ps-scrollbar-y {
    position: absolute; 
	z-index:999;
    right: 3px; 
    width: 8px;
    background-color: #323B44;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    opacity: 0;
    filter: alpha(opacity = 0);
    -o-transition: opacity .2s linear;
    -webkit-transition: opacity.2s linear;
    -moz-transition: opacity .2s linear;
    transition: opacity .2s linear;
}
.ps-container:hover .ps-scrollbar-y,
.ps-container.hover .ps-scrollbar-y {
    opacity: 0.6;filter: alpha(opacity = 60);
}
.ps-container .ps-scrollbar-y:hover,
.ps-container .ps-scrollbar-y.hover {
    opacity: 0.9;filter: alpha(opacity = 90);
	cursor: default;
}
.ps-container .ps-scrollbar-y.in-scrolling {
    opacity: 0.9;filter: alpha(opacity = 90);
}
