* {
    padding: 0;
    margin: 0;
    color: #DBDBDB;
    font-family: 微软雅黑;    
    font-size: 0.9em;
    -moz-user-select:  none;
    -webkit-user-select:  none;
    -ms-user-select:  none;
    -khtml-user-select:  none;
    user-select:  none;
}
body {
    overflow: scroll;
    overflow-x: hidden;
    background-color: #1F1F1F;    
}
.active {
    background-color: #D97915;
}
.active2 {
    opacity: 0.5;
}
.active2:hover {
    opacity: 0.7;
}
.active2:active {
    opacity: 0.9;
}
@font-face {
    font-family: "iconfont";
    src: url('iconfont.woff') format('woff'); /* chrome、firefox */
}
.iconfont {
    font-family: "iconfont" !important;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}

/**********菜单栏***********/
#menu {
    position: fixed;
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #030303;
    overflow: visible;
    z-index: 1;
    cursor: default;
}
#menu>div {
    display: none;    
}
#menu>ul>li {
    display: inline-block;
    width: 100px;
    text-align: center;
    font-weight: bold;
    border-left: 1px solid #383838;
    border-right: 1px solid #030303;
}
#menu li {
    list-style: none;    
}
#menu li:hover {
    background-color: #2A333A;
    color: #d97915;    
}
#menu li:active {
    background-color: #21292F;
    color: #CCC;    
}
#menu .menuitem {
    position: absolute;
    width: 101px;
    background-color: #1F1F1F;
    border: 1px solid #383838;
    border-top: none;    
}
#menu .menuitem li {
    text-align: center;
    border-right: 1px solid #030303;
}

/**********右栏切换按钮***********/
#tabNavigator {
    position: fixed;
    top: 0px;
    right: 0px;
    width: 300px;
    border-left: 1px solid #030303;
    border-bottom: 1px solid #030303;
    background-color: #1f1f1f;
    cursor: default;
}
#tabNavigator li {
    display: inline-block;
    width: 80px;
    line-height: 40px;
    font-weight: bold;
    text-align: center;
    border-left: 1px solid #383838;
    border-right: 1px solid #030303;
}
#tabNavigator li:hover {
    background-color: #2A333A;
    color: #d97915;    
}

/**********右侧详细表单***********/
#tabContent {
    float: right;
    width: 300px;
    margin-top: 40px;
}
#tabContent>div {
    padding: 10px 10px 60px 10px;
    line-height: 40px;    
}
#tabContent input {
    width: 65px;
    height: 20px;
    margin-left: 3px;
    text-align: center;
    color: #030303;        
}
#tabContent select {
    width: 210px;
    height: 23px;
    margin-left: 3px;
    color: #030303;    
}
#tabContent select option {
    color: #030303;
    text-align: center;
}    
#tabContent label {
    display: block;
    font-size: 1.2em;
    font-weight: bold;
    line-height: 30px;
    cursor: pointer;        
}
#tabContent label:hover {
    color: #d97915;
}
#tabContent span {
    display: inline-block;
    width: 50px;
    height: 20px;
    line-height: 20px;
    text-align: right;    
}
#tabContent [type="range"] {
    display: inline-block;
    position: relative;
    top: 6px;
    width: 190px;    
}
#tabContent [type="text"] {
    background-color: #1f1f1f;
    color: #DBDBDB;
    border: none;
}
#tabContent [type="checkbox"] {
    position: relative;
    display: inline-block;
    top: 6px;
    width: 20px;
    height: 20px;    
}
#tabContent .list {
    background-color: #383838;
}
#tabContent .box {
    line-height: 35px;
    font-size: 1.2em;
    padding-left: 10px;
}
.tabItemHide {
    display: none;
}
.listitem {
    height: 30px;
    border-bottom: 1px solid #030303;
    border-right: 1px solid #030303;
    cursor: default; 
    padding-left: 5px;
    padding-top: 5px;   
}
.listitem:hover {
    background-color: #2A333A;
}
.listitem>div {
    float: left;
    cursor: pointer;
    width: 24px;
    height: 24px;
    line-height: 24px;
    text-align: center;
}
.visibleButton {
    font-size: 24px;
}
.visibleButton:hover {
    opacity: 0.7;
}
.visibleButton:active {
    opacity: 0.9;
}
.listitem .lockButton {
    font-size: 18px;
}
.lockButton:hover {
    opacity: 0.7;
}
.lockButton:active {
    opacity: 0.9;
}
.listitem .trashButton {
    font-size: 18px;
}
.trashButton:hover {
    opacity: 0.7;
}
.trashButton:active {
    opacity: 0.9;
}
.listitem .itemTitle {
    width: 195px;
    text-align: center;
    cursor: default;    
    line-height: 24px;
}
.itemTitle:hover {
    color: #D97915;    
}
.vectoritem span {
    width: 40px;
    margin-left: 3px;
}

/**********控制按钮栏***********/
#control {
    position: fixed;
    top: 41px;
    background-color: #1f1f1f;
    border-top: 1px solid #383838;
    border-right: 1px solid #030303;
    cursor: default;
}
#control div,#affiliatedButtons div {
    float: left;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 28px;
    border-right: 1px solid #030303;
    border-left: 1px solid #383838;   
}
#control div:hover,#affiliatedButtons div:hover {
    background-color: #2A333A;    
    color: #d97915;
}
#control div:active,#affiliatedButtons div:active {
    background-color: #21292F;
    color: #CCC;    
}
#control .view {
    font-size: 12px;
    font-weight: bold;
}
#control .label, #affiliatedButtons .label {
    width: 70px;
    padding-left: 10px;
    padding-right: 5px;
    text-align: center;   
    font-weight: bold;
    font-style: italic;
    font-size: 12px;
    color: #D97915;
}

/**********附属按钮栏***********/
#affiliatedButtons {
    position: fixed;
    display: none;
    left: 305px;
    top: 0px;
    background-color: #1f1f1f;
    border-bottom: 1px solid #030303;
    border-right: 1px solid #030303;
    cursor: default;
}
#affiliatedButtons .longLabel {
    width: 100px;    
}

/**********工作区***********/
#workspace {
    position: fixed;
    top: 82px;
    background-color: #2A333A;
    border-right: 1px solid #030303;
    border-top: 1px solid #383838;
}
#stage3d {
    position: absolute;    
}
#stage2d {
    position: absolute;    
}
.workspace_hideStage {
    display: none;
}
.workspace_pickup {
    cursor: pointer;    
}
.workspace_move {
    cursor: move;
}
.workspace_eResize {
    cursor: e-resize;
}
.workspace_sResize {
    cursor: s-resize;
}

/**********信息栏***********/
#information {
    background-color: #383838;
    position: fixed;
    width: 300px;
    line-height: 35px;
    text-align: center;
    right: 0px;
    bottom: 0px;    
    border-top: 1px solid #030303;
}

/**********摄像机控制器***********/
#cameraController {
    position: fixed;
    bottom: 0px;
    right: 300px;
    width: 100px;
    height: 100px;
}