body{
	margin:0;
	overflow:hidden;
	background-color:#f0f0f0;
	font-family:微软雅黑;
	font-size:12px;
}

.stage3d{
	position:absolute;
	cursor:default;
	-moz-user-select: none;
   	-webkit-user-select: none;
   	-ms-user-select: none;
   	-khtml-user-select: none;
  	user-select: none;
}
.instrument{
	position:absolute;
	cursor:default;
	-moz-user-select: none;
   	-webkit-user-select: none;
   	-ms-user-select: none;
   	-khtml-user-select: none;
  	user-select: none;
	background-color:rgba(0,0,0,0.6);
	line-height:48px;
	padding-left:5px;
	color:#ffffff;
	overflow:hidden;	
}
.instrument_alert{
	position:absolute;
	-moz-user-select: none;
   	-webkit-user-select: none;
   	-ms-user-select: none;
   	-khtml-user-select: none;
  	user-select:none;
	padding-left:20px;
	font-size:14px;
	font-family:微软雅黑;
	color:#A0D50D;	
}
.simpleButton{
	position:absolute;
	cursor:pointer;
	-moz-user-select: none;
   	-webkit-user-select: none;
   	-ms-user-select: none;
   	-khtml-user-select: none;
  	user-select: none;
}
.simpleButton:hover{
	background-color:rgba(0,0,0,0.6);	
}
.simpleButtonChecked{
	background-color:rgba(55,119,209,0.6);
}
.simpleButtonChecked:hover{
	background-color:rgba(55,119,209,0.9);	
}



.menu{
	position:absolute;
	cursor:default;
	-moz-user-select: none;
   	-webkit-user-select: none;
   	-ms-user-select: none;
   	-khtml-user-select: none;
  	user-select: none;
	background-color:rgba(0,0,0,0.5);
	line-height:48px;
	color:#ffffff;
	overflow:visible;
}
.menuitem{
	position:absolute;
	cursor:pointer;
	-moz-user-select: none;
   	-webkit-user-select: none;
   	-ms-user-select: none;
   	-khtml-user-select: none;
  	user-select: none;
	text-align:center;
	font-weight:bold;
	border-right:1px solid #cccccc;
}
.menulist{
	position:absolute;
	cursor:default;
	-moz-user-select: none;
   	-webkit-user-select: none;
   	-ms-user-select: none;
   	-khtml-user-select: none;
	background-color:rgba(0,0,0,0.6);
}
.menuGeometryButton{
	position:absolute;
	cursor:default;
	-moz-user-select: none;
   	-webkit-user-select: none;
   	-ms-user-select: none;
   	-khtml-user-select: none;	
}
.menuGeometryButton:hover{
	background-color:rgba(0,0,0,0.6);
}
.menuGeometryButtonChecked{
	background-color:rgba(55,119,209,0.6);	
}
.menuGeometryButtonChecked:hover{
	background-color:rgba(55,119,209,0.9);
}

	