body {
    background-color: #f4f4f4;
    color: #555555;
    padding: 0px;
    margin: 0px;
}
li {
    display: inline-block;
    width: 150px;
    text-align: center;
    line-height: 60px;
    color: #FFF;
    cursor: pointer;
}
.active, li:hover {
    background-color: #EFEFEF;
    color: #555555;
}
.top {
    font-size: 24px;
    font-weight: bold;
    height: 60px;
    line-height: 60px;
    padding-left: 100px;
    background-color: #BEBEBE;
}
.top span {
    font-size: 18px;
    margin-left: 100px;
}
.left {
    margin-left: 10px;
    margin-right: 630px;
}
.right {
    margin-right: 10px;
    width: 300px;
    float: right;
}
.leftleft {
    float: left;
    width: 300px;
}
.leftright {
    margin-left: 310px;
}
.subtitle {
    height: 30px;
    line-height: 30px;
    font-family: Helvetica, arial, freesans, clean, sans-serif;
}
.compile {
    padding: 10px;
}
.error {
    color: #f00;
    margin-left: 20px;
}
textarea {
    border: 1px solid #D3D3D3;
    height: 250px;
    width: 100%;
    resize: none;
    overflow: hidden;
    margin-right: 10px;
}
[disabled="true"] {
    background-color: #DDDDDD;
}